.main
	padding: 100px 0
	z-index: 2
	position: relative
.main-item
	display: flex
	margin-bottom: 100px
	&__col
		width: 50%
	&__text
		+bold
		font-size: 44px
		max-width: 670px
		margin-left: 50px
	&__subtext
		font-size: 18px
		max-width: 515px
		margin-left: 50px
		opacity: 0.5

