<div class="banner" style="background-image: url('img/bg.jpg')">
  <div class="banner__content">
    <div class="banner__text">
      <div class="italic">
      <p>И никаких затрат на сервис!</p>
      <p>В нашем приложении инициатор напрямую поощряет ответчика.</p>
      </div>
      <p>Вы получаете приятный бонус за общение в виде денежного вознаграждения.</p>
      <p>Не тратьте своё время впустую!</p>
    </div>
    <div class="banner__image" id="fourthAnimation">
      <!--<img src="img/app.png" alt="">-->
      <!--<script src="animation/3-img/test2_4_to_check.js"></script>-->
      <div id="animation_container3" style="background-color:rgba(255, 255, 255, 0.00); width:700px; height:500px">
        <canvas id="canvas3" width="700" height="500" style="position: absolute; display: block; background-color:rgba(255, 255, 255, 0.00);"></canvas>
        <div id="dom_overlay_container3" style="pointer-events:none; overflow:hidden; width:700px; height:500px; position: absolute; left: 0px; top: 0px; display: block;">
        </div>
      </div>
    </div>
  </div>
</div>
