<footer class="footer">
  <div class="footer__content">
    <div class="footer__logo">
      <a href="/" class="logo">
        <img src="img/logo-reverse.png" alt="">
      </a>
      <div class="footer__logo-text">
        <img src="img/text.png" alt="">
      </div>
    </div>
    <div class="footer__desc">
      <div class="footer__download">
        <a href="#" class="appstore-btn appstore-btn--footer"></a>
        <p>Скачать приложение с App Store</p>
      </div>

      <div class="footer__text">
        <p><span>RealDating</span> - это современное, удобное, а главное бесплатное приложение для знакомств. Оно работает на
          смартфонах под управлением IOS и Android.
        </p>
        <p>Простое и понятное приложения, здесь вы узнаете что такое живое и настоящее общение в интернете. Надежный
          инструмент тех, кто хочет больше общаться и знакомиться с новыми людьми. Наше приложение вы всегда сможете
          найти в AppStore и GooglePlay.
        </p>
      </div>
    </div>
    <div class="footer__nav">
      <ul class="nav">
        <li class="nav__item"><a href="#" class="nav__link">О проекте</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Правила сообщества</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Условия</a></li>
      </ul>
    </div>
    <div class="footer__social">
      <ul class="social">
        <li class="social__item"><a href="#" class="social__link">{{mixins.icon('facebook')}}</a></li>
        <li class="social__item"><a href="#" class="social__link">{{mixins.icon('twitter')}}</a></li>
        <li class="social__item"><a href="#" class="social__link">{{mixins.icon('instagram')}}</a></li>
      </ul>
    </div>
  </div>
</footer>
