<header class="header">
  <div class="header__content">
    <div class="header__logo">
      <a href="/" class="logo">
        <img class="hide-mob" src="img/logo.png" alt="">
        <img class="show-mob js-mob-logo" src="img/logo-rose.png" alt="" data-src="img/logo.png">
      </a>
    </div>
    <div class="header__burger">
      <div class="burger js-burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  {% include "partials/_menu.html" %}
</header>
