<div class="main">
  <div class="main-item">
    <div class="main-item__col">
      <script src="animation/1-img/test.js"></script>
      <div id="animation_container" style="background-color:rgba(255, 255, 255, 0.00); width:1008px; height:1008px;">
        <canvas id="canvas" style=" display: block; background-color:rgba(255, 255, 255, 0.00);"></canvas>
        <div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:100%; height:auto; position: absolute; left: 0px; top: 0px; display: block;">
        </div>
      </div>
    </div>
    <div class="main-item__col">
      <div class="main-item__text">
        <p>Можно влюбиться с первого взгляда?</p>
        <p>Конечно можно!</p>
        <p>Мы вам поможем проявить особое внимание к понравившейся персоне.</p>
      </div>
    </div>
  </div>
  <div class="main-item">
    <div class="main-item__col">
      <div class="main-item__text">
        <p>Случайно пролистали карточку? Не беда!</p>
        <p>Вы всегда можете к ней вернуться. У всех есть второй шанс.</p>
      </div>
    </div>
    <div class="main-item__col">
      <script src="animation/2-img/test_3.js"></script>
      <div id="animation_container1" style="background-color:rgba(255, 255, 255, 0.00);">
        <canvas id="canvas1" style="display: block; background-color:rgba(255, 255, 255, 0.00);"></canvas>
        <div id="dom_overlay_container1" style="pointer-events:none; overflow:hidden; width:1200px; height:950px; position: absolute; left: 0px; top: 0px; display: block;">
        </div>
      </div>

    </div>
  </div>
  <div class="main-item">
    <div class="main-item__col">
      <script src="animation/3-img/test2_4_to_check.js"></script>
      <div id="animation_container2" style="background-color:rgba(255, 255, 255, 0.00);">
        <canvas id="canvas2" style=" display: block; background-color:rgba(255, 255, 255, 0.00);"></canvas>
        <div id="dom_overlay_container2" style="pointer-events:none; overflow:hidden; width:900px; height:750px; position: absolute; left: 0px; top: 0px; display: block;">
        </div>
      </div>
    </div>
    <div class="main-item__col">
      <div class="main-item__text">
        <p>Больше никаких надоедливых и некорректных сообщений!</p>
        <p>Мы за взаимность и культуру общения.</p>
      </div>
      <div class="main-item__subtext">
        <p>Наша система тщательно проверяет всех пользователей.</p>
        <p>И вся информация о вас остаётся приватной, пока вы сами не захотите открыть её своему избраннику.</p>
      </div>
    </div>
  </div>
</div>
