<div class="menu js-menu">
  <div class="menu__content">
    <div class="menu__title">
      Как это работает?
      Слайдер, но лучше
      Взаимность В ОБЩЕНИИ
      В чем наша сила?
    </div>
    <div class="menu__download">
      <a href="#" class="appstore-btn"></a>
      <p>Скачать приложение с App Store</p>
    </div>
    <div class="menu__nav">
      <ul class="nav">
        <li class="nav__item"><a href="#" class="nav__link">О проекте</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Правила сообщества</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Условия</a></li>
      </ul>
    </div>
    <div class="menu__social">
      <ul class="social">
        <li class="social__item"><a href="#" class="social__link">{{mixins.icon('facebook')}}</a></li>
        <li class="social__item"><a href="#" class="social__link">{{mixins.icon('twitter')}}</a></li>
        <li class="social__item"><a href="#" class="social__link">{{mixins.icon('instagram')}}</a></li>
      </ul>
    </div>
  </div>
</div>
