.banner
	background-position: center
	background-size: cover
	background-repeat: no-repeat
	padding: 200px 50px
	&__content
		max-width: 740px
		margin: 0 auto
	&__text
		margin-bottom: 70px
		font-size: 36px
		+bold
		.italic
			+italic
	&__image
		width: 100%
		img
			width: 100%
			height: auto
