.btn
	display: flex
	align-items: center
	justify-content: center
	+semi
	text-transform: uppercase
	color: #ffffff
	width: 206px
	height: 54px
	border-radius: 8px
	background-color: #f53e4f

.appstore-btn
	display: block
	background-image: url("../img/appstore.png")
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	width: 216px
	height: 64px
	border-radius: 8px
