.btn
	display: flex
	align-items: center
	justify-content: center
	+semi
	text-transform: uppercase
	color: #ffffff
	width: 206px
	height: 54px
	border-radius: 8px
	background-color: #f53e4f
	+md
		width: 124px
		height: 33px
		border-radius: 6px

.appstore-btn
	display: block
	background-image: url("../img/appstore.svg")
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	width: 194px
	height: 64px
	border-radius: 8px
	transition: 0.3s
	+md
		width: 130px
		height: 38px
	&:hover
		opacity: 0.8
		//background-image: url("../img/appstore-rose.svg")
	&--footer
		width: 205px
		height: 69px
	//	background-image: url("../img/appstore-rose.svg")
	//	&:hover
	//		background-image: url("../img/appstore.svg")
