.footer
	background-color: #231f20
	padding: 85px 40px
	+md
		padding: 42px 20px
	+xs
		padding: 60px 20px 78px
	&__logo
		display: inline-block
		position: relative
		padding-bottom: 61px
		margin-bottom: 61px
		margin-left: 50%
		transform: translateX(-100%)
		+md
			margin-bottom: 50px
			padding-bottom: 41px
		+xs
			padding-bottom: 0
			margin-bottom: 100px
			transform: none
			margin-left: 0
	&__logo-text
		position: absolute
		bottom: 0
		right: 0
		transform: translateX(100%)
		width: 240px
		height: 83px
		+md
			width: 163px
			height: 58px
		+xs
			width: 198px
			height: 69px
			transform: translate(100px, 100%)
		img
			height: 100%
			width: 100%
	&__content
		max-width: 740px
		margin: 0 auto
	&__desc
		display: flex
		align-items: center
		margin-bottom: 56px
		+md
			margin-bottom: 46px
		+xs
			flex-direction: column
	&__download
		margin-right: 36px
		color: #ff5363
		font-size: 13px
		+md
			font-size: 11px
			.appstore-btn
				width: 175px
				height: 52px
		+xs
			order: 2
			margin-right: 0
		.appstore-btn
			margin-bottom: 13px
	&__text
		color: #ffffff
		font-size: 13px
		line-height: 1.54
		+md
			font-size: 12px
		+xs
			order: 1
			margin-bottom: 37px
		span
			background-image: linear-gradient(to right, #ff5464 0%, #f03546 100%)
			display: inline-block
			text-align: center
			width: 73px
			height: 18px
			border-radius: 5px
			background-color: #f53e4f
	&__nav
		color: #ffffff
		text-align: center
		margin-bottom: 21px
		+md
			margin-bottom: 16px
	&__social
		text-align: center


.nav
	font-size: 13px
	+md
		font-size: 11px
	&__item
		display: inline-block
		&:not(:last-child)
			margin-right: 45px
			+xs
				margin-right: 20px

.social
	&__item
		display: inline-block
		&:not(:last-child)
			margin-right: 45px
	&__link
		display: inline-block
		.icon
			fill: #fff
