.header
	position: absolute
	top: 0
	width: 100%
	padding: 40px 0
	background-color: transparent
	&__content
		display: flex
		justify-content: flex-end
		padding: 0 34px
		align-items: center
	&__logo
		margin-right: 73px
		z-index: 2
	&__burger
		z-index: 2
		position: relative

.logo
	display: block
	height: 60px
	width: 270px
	img
		height: 100%
		width: 100%

.burger
	cursor: pointer
	span
		transition: 0.3s
		height: 5px
		width: 36px
		background-color: #ffffff
		display: block
		&:not(:last-child)
			margin-bottom: 6px
	&.is-active
		span
			&:nth-child(1)
				transform: translate(1px, 12px) rotate(45deg)
			&:nth-child(2)
				transform: translateX(100%)
				opacity: 0
			&:nth-child(3)
				transform: translate(1px, -10px) rotate(-45deg)
