.hero
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	min-height: 100vh
	display: flex
	width: 100%
	align-items: flex-end
	justify-content: flex-end
	padding: 200px 140px 50px
	&__content
		max-width: 620px
	&__title
		color: #fff
		margin-bottom: 22px
	&__btns
		display: flex
		align-items: center
		.btn
			margin-right: 20px
iframe
	height: 50px
	width: 300px
